.ukm{
    padding: 1rem;
    ion-card-title{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    ion-card-subtitle{
        font-size: 1.2rem;
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
